[submodule "lib/SimpleJSON"]
	path = lib/SimpleJSON
	url = git@github.com:5cript/SimpleJSON.git
[submodule "lib/dukextpp"]
	path = lib/dukextpp
	url = git@github.com:5cript/dukextpp.git
[submodule "lib/SimpleREST"]
	path = lib/SimpleREST
	url = git@github.com:5cript/SimpleREST.git
[submodule "lib/sqlpp11"]
	path = lib/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "lib/sqlpp11-connector-sqlite3"]
	path = lib/sqlpp11-connector-sqlite3
	url = git@github.com:5cript/sqlpp11-connector-sqlite3.git
